//colori principali
$primary-color-1: #8e210b;
$primary-color-2: white;

//colori secondari
$secondary-color-1: #8e210baa;
$secondary-color-2: #db3312;


//scala di grigi
$grey-1: rgba(255, 255, 255, 0.750);
$grey-2: rgba(255, 255, 255, 0.500);
$grey-3: rgba(255, 255, 255, 0.250);
$grey-4: rgba(255, 255, 255, 0.150);
$grey-5: rgba(255, 255, 255, 0.0);
//testi

