<div class="container-card">
  <div class="card" style="width: 18rem;" >
    <div class="card-image"[ngStyle]="{'background-image':'url('+ ricetta.image +')'}" (click)="inviaTitolo(ricetta.title)"></div>
    <div class="card-body">
      <h5 class="card-title">{{ricetta.title}}</h5>
      <!-- <p class="card-text">{{ricetta.description | slice: 0:250}}...</p> -->
      <!-- <p class="card-text" [innerHTML]="ricetta.description | slice: 0:250">...</p> -->
      <p class="card-text" [innerHTML]="accorciaDescrizione(ricetta.description) ">...</p>

      <a *ngIf="page !== 'home'"class="btn btn-primary" [routerLink]="['dettaglio',ricetta.title , ricetta._id]">Visualizza</a>
      <a *ngIf="page === 'home'" class="btn btn-primary" [routerLink]="['/ricette/dettaglio',ricetta.title , ricetta._id]">Dettaglio</a>
      @if (true) {
        <a [routerLink]="['dettaglio',ricetta.title , ricetta._id]" class="pi pi-trash" style="color: lightseagreen"></a>
        <a [routerLink]="['dettaglio',ricetta.title , ricetta._id]" class="pi pi-trash" style="color: red"></a>
      }


    </div>
  </div>
</div>

