@import "../../styles/colori.scss";

.bg-red{
  background-color: $primary-color-1 !important;
}
header{
  background-color: $primary-color-1 !important;
  padding-left: 20px;
}
.icona-cibando{
  width: 60px;
  margin: 10px;
}
