<app-carosel></app-carosel>

<div class="container-title">
  <h1 [ngClass]="evideziato ? 'testoEvidenziato' : ''" (click)="onEvidenziazione()" style="cursor: pointer;">Benvenuti in Cibando</h1>
  <p [ngStyle]="{'background-color': evideziato ? 'yellow' : 'white'}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ab possimus repudiandae, explicabo impedit nesciunt dicta non quae id ipsa vel, laborum quas, magni natus. Sint minus veniam obcaecati tempore?</p>
<app-recipes></app-recipes>
</div>

