<div class="cornice">
  <div class="subCornice">
    <h1>Richiedi informazioni</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" >
      <div>
      <input type="text" id="nome" class="form-nome" formControlName="nome">
      <label for="nome">Nome</label>
      </div>
      <input type="email" id="email" class="form-email" formControlName="email">
      <label for="email">Email</label>
      <input type="text" id="ogetto" class="form-ogetto" formControlName="ogetto">
      <label for="ogetto">Ogetto</label>
      <input type="text" id="messaggio" class="messaggio" formControlName="messaggio">
      <label for="messaggio"></label>
      <button [disabled]="!form.valid" type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg">invia</button>
    </form>
  </div>
</div>
